<!-- se crea un navbar que se reutilizara en todas las paginas-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <a class="navbar-brand" href="#" >Presentacion Clientes</a>
                
              
                
</nav>